html{
	height: 100vh;
}
body {
	min-height: 100vh;
	font-family: 'Pacifico', cursive;
	background-color: #ed666c;
	display: grid;
	grid-template-rows: auto auto 1fr 1fr 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		'image'
		'header'
		'order'
		'available'
		'devoured'
		'footer';
	justify-items: center;
	color: #603912;

}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

#burger-img{
	grid-area:image;
	height: auto;
	width: 40%;
	padding: 1em;
}

#header{
	grid-area:header;
	color: #603912;
}

#available{
	grid-area:available;
}

#devoured{
	grid-area:devoured;
	border-color: yellow;
	border-style: solid;
	border-width: 1px;
	
}

#order{
	grid-area:order;
}

#footer{
	grid-area:footer;
/* 	align-self: end; */
}

#available-header{
	color: #8dc73f;
	padding: 1em;
}

#devoured-header{
	color: #f0bc83;
	padding: 1em;
}

#order-header{
	color:#fcf56f;
	padding: 1em;
}